<% content_for :title do %>WanWan csvインポート結果画面<% end %>

<% content_for :header do %>
  <%= render "layouts/header", user: @user %>
<% end %>

<p>csvインポート結果画面</p>
<p>全<%= @total %>件</p>
<% if @total > 0 %>
      <table border="2">
        <thead>
          <tr>
            <th scope="col" class="px-6 py-3">No</th>
            <th scope="col" class="px-6 py-3">実行日</th>
            <th scope="col" class="px-6 py-3">タスク</th>
            <th scope="col" class="px-6 py-3">ステータス</th>
            <th scope="col" class="px-6 py-3">確認</th>
          </tr>
        </thead>
        <tbody>
          <% @import_files.each_with_index do |import_file_h, index| %>
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                <th><%= index + 1 %></th>
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    <%= import_file_h[:date] %>
                </th>
                <td class="px-6 py-4">
                    <%= import_file_h[:job_name] %>
                </td>
                <td class="px-6 py-4"><%= import_file_h[:status] %></td>
                <td class="px-6 py-4"><%= link_to "ドル円外貨預金元帳", dollar_yen_transactions_path %></td>
            </tr>
          <% end %>
        </tbody>        
      </table>
<% end %>