<% content_for :title do %>WanWan 仕訳帳 csv upload<% end %>

<% content_for :header do %>
  <%= render "layouts/header", user: @user, notification: @notification %>
<% end %>

<% if flash[:errors].present? %>
  <ul>
    <% flash[:errors].each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<section class="py-8">

  <%= form_with(model: @import_file, url: csv_upload_ledgers_path, data: { turbo: false }, local: true, multipart: true, html: { id: 'uploadForm' }) do |form| %>
    <%= render "shared/upload_form", form: form %>
  <% end %>

</section>
<%= javascript_import_module_tag "views/ledgers/cvs_upload_new" %>