<% content_for :title do %>WanWan 仕訳帳<% end %>

<% content_for :header do %>
  <%= render "layouts/header", user: @user, notification: @notification %>
<% end %>

<section class="py-8">
  <div class="bg-white flex justify-end px-6 py-4">
    <%= link_to "作成", new_dollar_yen_transaction_path, class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mr-2" %>
    <%= link_to "削除", new_dollar_yen_transaction_path, class: "bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded mr-2" %>
    <%= link_to "一括作成/更新", csv_upload_new_ledgers_path, class: "bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded" %>
  </div>

  <div class="relative overflow-x-auto m-4">
    <%= render "shared/paging", page: @page, url: "ledgers" %>

    <!-- data表示開始 -->
    <div class="list-container w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400 overflow-x-auto relative">
        <div class="inline-block min-w-full"><!-- mobileの右側の色が抜ける対策 -->
          <div class="grid grid-cols-[auto_minmax(100px,_1fr)_minmax(100px,_1fr)_minmax(100px,_1fr)_minmax(100px,_1fr)_minmax(100px,_1fr)_minmax(100px,_1fr)_minmax(100px,_1fr)] md:grid-cols-8 text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                <div class="px-6 py-3 flex items-center w-auto">
                    チェック
                </div>
                <div class="px-6 py-3 flex items-center">
                    <a href="">日付</a>
                </div>
                <div class="px-6 py-3 flex items-center">
                    勘定科目
                </div>
                <div class="px-6 py-3 flex items-center">
                    名称
                </div>
                <div class="px-6 py-3 flex items-center">
                    額面
                </div>
                <div class="px-6 py-3 flex items-center">
                    按分額
                </div>
                <div class="px-6 py-3 flex items-center">
                    按分率
                </div>
                <div class="px-6 py-3 flex items-center">
                    計上額
                </div>
            </div>
            <% @ledgers.each_with_index do |ledger, index| %>
            <div class="item-row grid grid-cols-[auto_minmax(100px,_1fr)_minmax(100px,_1fr)_minmax(100px,_1fr)_minmax(100px,_1fr)_minmax(100px,_1fr)_minmax(100px,_1fr)_minmax(100px,_1fr)] md:grid-cols-8 bg-white border-b dark:bg-gray-800 dark:border-gray-700 border-gray-200" data-id="456">
                <div class="px-6 py-4 font-normal flex items-center w-auto"><input id="default-checkbox" type="checkbox" value="" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded-sm focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"></div>
                <div class="px-6 py-4 font-normal flex items-center"><%= ledger[:date] %></div>
                <div class="px-6 py-4 font-normal flex items-center"><%= ledger[:ledger_item_name] %></div>
                <div class="px-6 py-4 font-normal flex items-center"><%= ledger[:name] %></div>
                <div class="px-6 py-4 font-normal flex items-center"><%= ledger[:face_value] %></div>
                <div class="px-6 py-4 font-normal flex items-center"><%= ledger[:proportion_amount] %></div>
                <div class="px-6 py-4 font-normal flex items-center"><%= ledger[:proportion_rate] %></div>
                <div class="px-6 py-4 font-normal flex items-center"><%= ledger[:recorded_amount] %></div>
            </div>
            <% end %>
        </div>
    </div>
    <!-- data表示終了 -->
  </div>
</section>
