<% content_for :title do %>WanWan ドル円外貨預金元帳 新規作成<% end %>

<% content_for :header do %>
  <%= render "layouts/header", user: @user %>
<% end %>

<%= form_with model: @dollar_yen_transaction, url: create_confirmation_dollar_yen_transactions_path, data: { turbo: false }, class:"form_transaction" do |form|  %>

  <div class="tw_mb-5">
    <label class="form_label">日付*</label>
    <% if @errors[:date_msg].present? %>
      <p><%= @errors[:date_msg] %></p>
    <% end %>
    <%= form.text_field :date, class: @errors[:date_class], id: "default-datepicker", placeholder: "日付(yyyy-mm-dd)", required: true %>
  </div>
  <div class="tw_mb-5">
    <label for="transaction_kind" class="form_label">取引種別*</label>
    <%= form.select :transaction_type_id, @transaction_types.collect { |c| [c.name, c.id, { "data-kind": c.kind }] }, {}, { class: "form_input", onchange: "onChangeKind(this);" } %>
  </div>
  <div id="deposit_section" style="display: <%= @deposit_section_block %>">
    <%= render partial: "form_deposit_section", locals: { form: form, dollar_yen_transaction: @dollar_yen_transaction, errors: @errors } %>
  </div>
  <div id="withdrawal_section" style="display: <%= @withdrawal_section_block %>">
    <%= render partial: "form_withdrawal_section", locals: { form: form, dollar_yen_transaction: @dollar_yen_transaction, errors: @errors } %>
  </div>
  <%= form.submit '登録' %>
<% end %>

<script>
  function onChangeKind(selectElement) {
    const selectedOption = selectElement.options[selectElement.selectedIndex];
    const transactionType = selectedOption.getAttribute('data-kind');
    const deposit_section = document.getElementById('deposit_section');
    const withdrawal_section = document.getElementById('withdrawal_section');

    if (transactionType === 'deposit' && withdrawal_section.style.display === 'block') {
      deposit_section.style.display = 'block';
      withdrawal_section.style.display = 'none';
    } else if (transactionType === 'withdrawal' && withdrawal_section.style.display === 'none') {
      deposit_section.style.display = 'none';
      withdrawal_section.style.display = 'block';
    }
  }
</script>
