<% content_for :title do %>WanWan 取引種別一覧<% end %>

<% content_for :header do %>
  <%= render "layouts/header", user: @user %>
<% end %>

<p>取引種別一覧</p>
<hr/>
<p><%= link_to "取引種別追加", new_dollar_yen_transaction_path %></p>
<% if flash[:notice] %>
  <div class="alert alert-success"><%= notice %></div>
<% end %>
<hr/>
<% if @total > 0 %>
    <div class="bg-white">
      <div class="mx-auto max-w-7xl px-6 lg:px-8">
        <div class="mx-auto mt-16 max-w-2xl sm:mt-20 lg:mt-24 lg:max-w-4xl">
          <div class="table_parent_1">
              <table class="table_main_1">
                  <thead class="thead_main_1">
                    <tr class="thead_tr_1">
                        <th scope="col" class="tr_th_1">
                            No
                        </th>
                        <th scope="col" class="tr_th_1">
                            取引名
                        </th>
                        <th scope="col" class="tr_th_1">
                            取引種類
                        </th>
                        <th scope="col" colspan="2" class="tr_th_1">
                            アクション
                        </th>
                    </tr>
                  </thead>
                  <tbody>
                    <% @transaction_types.each_with_index do |transaction_type, index| %>
                      <tr class="tbody_tr_1">
                        <th scope="row" class="tbody_tr_th_1"><%= index + 1 %></th>
                        <td class="tbody_tr_td_1"><%= transaction_type.name %></td>
                        <td class="tbody_tr_td_1"><%= transaction_type.kind_name %></td>
                        <td class="tbody_tr_td_1"><%= link_to "編集", edit_transaction_type_path(transaction_type) %></td>
                        <td class="tbody_tr_td_1"><%= link_to "削除", transaction_type_path(transaction_type), data: { turbo_method: :delete } %></td>
                      </tr>
                    <% end %>
                  </tbody>
              </table>
          </div>
        </div>
      </div>
    </div>
<% else %>
  <p>取引種別が存在しません。<br/>取引種別登録画面から取引種別を登録してください。</p>
<% end %>