<!DOCTYPE html>
<html>
  <head>
  	<title><%= content_for(:title) || "WanWan" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="mobile-web-app-capable" content="yes">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <%= yield :head %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= csrf_meta_tags %>
    <%= javascript_importmap_tags %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
  </head>
  <body>
    <div class="container">
      <div id="flash-container" class="fixed bottom-10 left-1/2 -translate-x-1/2 z-50 flex flex-col gap-2 items-center">
        <% if flash[:toast_notice] %>
          <%= render "shared/toast", message: flash[:toast_notice], type: "notice" %>
        <% elsif flash[:toast_alert] %>
          <%= render "shared/toast", message: flash[:toast_alert], type: "alert" %>
        <% end %>
      </div>
      <%= yield :header %>
      <%= yield :notification %>
      <%= yield %>
      <%= yield :footer %>
    </div>
  </body>
</html>